{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}

<div class="container">

    <h1 class="fw-bold mb-4">Portfolio – Compétence</h1>

    <section class="mb-5">
        <h2 class="fw-bold">
            AC11.06 Installer un poste client, expliquer la procédure mise en place
        </h2>

        <p>
            Cette compétence a été travaillée dans le cadre de notres BUT
            Réseaux & Télécommunications.
        </p>

        <ul>
            <li>
                📄 
                <a href="/portfolio/competence-1/preuve.docx" target="_blank">
                    Document de preuve
                </a>
            </li>
            <li>
                🧠 
                <a href="/portfolio/competence-1/analyse-reflective.docx" target="_blank">
                    Analyse réflexive
                </a>
            </li>
        </ul>
    </section>

</div>

{% endblock %}
